---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
---

<Layout>
	<Hero title="About" subtitle="A short bio with placeholder text." />
	<Section>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor.</p>
		<p>Magna etiam tempor orci eu lobortis elementum nibh. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Purus viverra accumsan in nisl nunc mi ipsum faucibus vitae.</p>
	</Section>
</Layout>

